
ion-header {
  height: 3rem;
  font-size: 24px;
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: #057049;
  color: white;
}

h2, ion-button {
  padding-right: 3rem;
  padding-left: 3rem;
}
